<div id="waiting-room-frame">
    Préparation de la partie
    <br>

    <br>
    <div class="waiting-message alert-primary" *ngIf="lobbyContent.enoughPlayerToPlay" id="player-joining-waiting">
        En attente d'autres joueurs...<br>
    </div>
    <div class="waiting-message alert-primary" *ngIf="lobbyContent.allPlayersReady" id="player-ready-waiting">
        En attente de la validation de tous les joueurs...<br>
    </div>
    <div class="waiting-message alert-primary" *ngIf="starting" id="game-starting">
        Tous les joueurs sont prêts ! La partie va bientôt commencer...<br>
    </div>
</div>
  